#!/bin/bash
/usr/bin/java \
        -Dblueflood.config=file:blueflood.conf \
        -Dlog4j.configuration=file:log4j.conf \
        -Xms1G \
        -Xmx1G \
        -Dcom.sun.management.jmxremote.authenticate=false \
        -Dcom.sun.management.jmxremote.ssl=false \
        -Djava.rmi.server.hostname=localhost \
        -Dcom.sun.management.jmxremote.port=9180 \
        -classpath blueflood-all-1.0.0-20130828.214150-1-jar-with-dependencies.jar com.rackspacecloud.blueflood.service.BluefloodServiceStarter 2>&1
